.root{
    -fx-background-image: url("Images/BrickSlayerBackground.png");
}

.label{
    -fx-font-size: 20;
    -fx-font-family: "lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#numberOfCoins
{
    -fx-font-size: 20;
    -fx-font-family: "lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: right;
}

#currencyLabel
{
    -fx-font-size: 20;
    -fx-font-family: "lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: right;
}

#copyLabel{
    -fx-font-size: 15;
    -fx-font-family: "lucida Console";
    -fx-text-fill: #2E3641;
    -fx-alignment: center;
}

#backToMenuLabel{
    -fx-font-size: 15;
    -fx-font-family: "lucida Console";
    -fx-text-fill: "White";
    -fx-alignment: center;
}


#headerLabel{
    -fx-font-size: 40;
}


.button {
    -fx-font-weight: bold;
    -fx-background-color: #2E3641;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-alignment: center;
    transition: box-shadow 0.3 ease, transform 0.3s ease;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: "white";
    -fx-font-size: 17;
    -fx-text-fill: #2E3641;
}

.button:active{
    box-shadow: 0 0 0 #930, insert 4px 4px 4px #930;
    transform: translate(6px, 6px);
}


.button:pressed{
     -fx-font-weight: bold;
     -fx-background-color: "white";
     -fx-font-size: 16;
     -fx-text-fill: #2E3641;
}